body {
    width: 100%;
    max-width: 1500px;
	background-color: White;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}
#header{
	border-radius: 5px;
    padding: 10px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
	
	
}

#conteudo{
	border-radius: 5px;
    padding: 50px;
    background-color: rgb(207,232,220);
    border: 2px solid rgb(79,185,227);
}

#nav{
	background: rgb(207,232,220);
	border: 2px solid rgb(79,185,227);
	padding: 2px 0px;
    margin-bottom: 20px;
}

#nav ul {
	margin: 0 0 0 250px;
    padding: 10px;
	list-style-type: none;
	border-left:  1px;
	
}
#nav li{
	
	display: inline;
	border-radius: 5px;
    padding: 10px;
	
}
#nav li a {
	color: black;
	text-decoration: none;
	font-weight: 900;
	
}

#nav li a:hover{
	text-decoration: none;
    color: black;
    background-color: White;
	
}

#footer{
	border-radius: 5px;
    padding: 10px;
    background: rgb(207,232,220);
	border: 2px solid rgb(79,185,227);
	bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
	max-width: 1500px;
}